BTech-1st-year/sem-1/class
BTech-1st-year/sem-2/class
BTech-1st-year/sem-2/university
BTech-2nd-year/sem-3/extra
BTech-2nd-year/sem-4/extra
BTech-2nd-year/sem-4\001_COMPUTER_GRAPHICS/Lab/dev-cpp/00-testing/*.o

